@import '../../assets/palette.sass'

.inputField
    appearance: none
    width: 244px
    height: 44px
    border: 2px solid
    border-color: $neutral400
    background-color: $white
    color: $black
    
    &.hover
        cursor: pointer

    &.pill
        border-radius: 30px

    &.normal
        border-radius: 10px

    &.focus
        border-color: $secondary-blue500