@import '../../assets/palette.sass'

.popup
    position: relative
    display: flex
    height: 92px
    width: 410px
    align-items: center
    background-color: $neutral300
    border-radius: 20px
    padding: 16px

    .popupbtn
        position: absolute
        top: 8px
        right: -32px

    .popupText
        margin-inline: 32px
        margin-block: 16px

        .subtitle1
            line-height: 16px !important
