@import '../../assets/palette.sass'

.checkbox
    appearance: none
    border: 2px block
    border-radius: 20%
    border-color: $black
    background-color: $neutral200
    &:hover
        cursor: pointer
    
    &:checked
        background-color: $primary500 !important

    &.small
        height: 16px
        width: 16px

    &.medium
        height: 24px
        width: 24px