@import '../../assets/palette.sass'

.checkboxContainer
    position: relative
    background-color: $neutral300
    border-radius: 20%
    cursor: pointer

    &.small
        height: 16px
        width: 16px

    &.medium
        height: 24px
        width: 24px

    .checkbox
        appearance: none

        &:checked + .checkLabel
            background-color: $primary400

.checkLabel
    position: absolute
    background-color: $neutral300
    height: 100%
    width: 100%
    border-radius: 20%
    top: 0px
    left: 0px
    cursor: pointer
    .icon
        background-color: rgba(0,0,0,0)
        