.icon
    background-color: black
    display: flex
    place-content: center
    border-radius: 20%

.xs
    height: 52px
    width: 52px

.s
    height: 56px
    width: 56px

.m
    height: 58px
    width: 58px

.l
    height: 72px
    width: 72px

.xl
    height: 80px
    width: 80px