@import '../../assets/palette.sass'

.toggleBox
    position: relative
    display: inline-block
    height: 24px
    width: 43px
    border-radius: 20px
    background-color: $neutral400
    align-items: center
    cursor: pointer

.toggleCircle
    height: 21px
    width: 21px
    border-radius: 100%
    background-color: $white
    cursor: pointer
    position: absolute
    top: 1.5px
    left: 1.5px
    right: 1.5px
    bottom: 1.5px
        
input:checked 
    & + .toggleBox
        background-color: $primary300 !important

