@import '../../assets/palette.sass'

.pill
    height: 24px
    width: 39px
    border-radius: 20px
    background-color: $neutral300
    display: flex
    align-content: flex-start
    place-items: center
    margin: 1px

.circle
    height: 21px
    width: 21px
    background-color: $white
    border-radius: 100%